{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}
-Add-Store {% endblock title %} {% block content %} {% if not user.store %}
<div class="container mt-5">
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui segment">
        <div>
          <form class="ui form" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form|crispy }}
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container mt-5">
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui segment">
        <h3>
          You can see your store
          <a href="{% url 'retailstore:my_store' request.user %}"
            >here.</a
          >
        </h3>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
